*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

nav {
    background-color: #3b0049;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
    background-color: rgb(149, 245, 160);
    color: #7D2D9A;
    border-radius: 5px;
}

form {
    width: 500px;
    padding: 2rem;
    margin: 0 auto;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  select {
    display: block;
    width: 80%;
    height: 60px;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
 
  select:focus,
  input[type="text"]:focus {
    outline: none;
    border: 2px solid #38d39f;
    box-shadow: 0 0 10px #38d39f;
  }
  
  input[type="text"] {
    width: 80%;
    height: 60px;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
.custom-btn {
    display: block;
    width: 60%;
    height: 50px;
    border-radius: 30px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #852fa2, #38d39f, #bc32be);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
  }
  
  .custom-btn:hover {
    background-position: right;
  }
  .delete-container {
    position: absolute;
    top:0;
    right: 3;
    padding: 3rem;
  }
  
.delete-btn {
  display: block;
  margin: 0 auto;
}