body {
    background-color: #e8d6f3;
  }
  a {
    text-decoration: none;
    display: inline-block;
    margin: auto;
    width: 5%;
    height: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #852fa2, #38d39f, #bc32be);
    background-size: 200%;
    font-size: 0.5 rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
  }
  a:hover {
    background-position: right;
  }
  
  .container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .content-table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  .content-table tbody tr:hover {
    background-color: #8ae8cf;
  }