<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <nav>
      <label class="logo"> E-VOTING </label>
    <div class ="menu">
      <a href="/">Home</a>
      <a href="verify" >Verify</a>
      <a href="register" >Register</a>
      <a href="contactus">Contact Us</a>
    </div>
  <div class="menub">
    <a href="login">VOTE</a>
  </div>
</nav>
    <title>About us</title>
    <!-- Font Awesome CDN-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="css/aboutus.css" />
    
  </head>
  <body class="nai">
    <section>


      <div class="row">
        <h2 class="section-heading">Our Services</h2>
      </div>
      <div class="row">
        <div class="column">
          <div class="car">
            <div class="icon-wrapper">
              <i class="fas fa-hammer"></i>
            </div>
            <h3>High-integrity Voting</h3>
            <p>
              Voting is anonymous, and each voter can only cast one ballot.  Each ballot has one, secure voting key and the vote is auditable, verifiable and can be independently observed.
            </p>
          </div>
        </div>


        <div class="column">
          <div class="car">
            <div class="icon-wrapper">
              <i class="fas fa-brush"></i>
            </div>
            <h3>Transparent Results</h3>
            <p>
             At the end of the election, Voters will be able to get the raw ballots as well as a detailed report with counts automatically done.
            </p>
          </div>
        </div>


        <div class="column">
          <div class="car">
            <div class="icon-wrapper">
              <i class="fas fa-wrench"></i>
            </div>
            <h3>Secure and Private</h3>
            <p>
              All voting choices are confidential and cannot be linked to the voter for elections. And results can be hidden until the election ends for further anonymity.
            </p>
          </div>
        </div>


        <div class="column">
          <div class="car">
            <div class="icon-wrapper">
              <i class="fas fa-truck-pickup"></i>
            </div>
            <h3>Candidate Profiles</h3>
            <p>
              Help voters choose by including a biography, vision, campaign promises and contact information. Upload a candidate photo or link to a video too!
            </p>
          </div>
        </div>


        <div class="column">
          <div class="car">
            <div class="icon-wrapper">
              <i class="fas fa-broom"></i>
            </div>
            <h3>Multiple Ways to Vote</h3>
            <p>
              Voting can be done in person, remotely, or by cellphone, computer, or tablet. With a ballot that is friendly to voters, voting is simple and convenient.
            </p>
          </div>
        </div>


        <div class="column">
          <div class="car">
            <div class="icon-wrapper">
              <i class="fas fa-plug"></i>
            </div>
            <h3>Easy to Set Up and Vote</h3>
            <p>
               Each of the voters will receive an email with a secret, single-use voting link. Voter then just clicks that link to be immediately taken to the voting page. 
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>