<html>
<head>
    <link rel="stylesheet" href="css/adminpage.css">
  <title>Admin page</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Go back</a></li>
        </ul>
    </nav>
    <form action="/insert" method="POST" enctype="multipart/form-data">
        <label for="name">Candidate Name:</label>
        <input type="text" id="name" name="name"><br>
    
        <label for="position">Position:</label>
        <select id="position" name="position">
            <option value="president">President</option>
            <option value="vicepresident">Vice President</option>
            <option value="mayor">Mayor</option>
            <option value="member">Member</option>
            
        </select><br>
    
        <label for="party">Party:</label>
        <input type="text" id="party" name="party"><br>
    
        <label for="image">Image:</label>
        <input type="file" id="image" name="image"><br>
    
        <input type="submit" value="Submit" class ="custom-btn">
    </form>
    <div class="delete-container">
        <form action="/cdelete" method="POST">
          <input type="submit" value="Delete All Candidates" class="custom-btn delete-btn">
        </form>
        <form action="/vdelete" method="POST">
            <input type="submit" value="Delete Voted list" class="custom-btn delete-btn">
          </form>
          <form action="/udelete" method="POST">
            <input type="submit" value="Delete user data" class="custom-btn delete-btn">
          </form>
          <form action="/admin/pushresult" method="POST">
            <input type="submit" value="show result in home " class="custom-btn delete-btn">
          </form>
         </div>
</body>
</html>    