<!DOCTYPE html>
<html>
<head>
	<title>admin_login</title>
	<link rel="stylesheet" href="css/signup.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<!-- <li><a href="#">About Us</a></li> -->
			<li><a href="contactus">Contact Us</a></li>
			<li><a href="/">Go back</a></li>
		</ul>
	</nav>
	<div class="container">
		<div class="login-content">
			<form action="/adminlogin" method="POST">
				<h2 class="title">admin login</h2>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>			 
					<div class="div">
						<h5>UserName</h5>
						<input type="text" name="u_name" id="username" class="input" required>
					</div>
				</div>
				<div class="input-div two">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>Password</h5>
						<input type="password" name="p_name" id="password" class="input">
					</div>
				</div>

			
				<input type="submit" class="btn" value="login
                
                ">
			</form>
		</div>
	</div>

	<script type="text/javascript" src="js/signup.js"></script>
</body>
</html>