<!DOCTYPE html>
<html>
<head>
	<title>E-Voting</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/test2.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>

</head>
<body background="img/vote.png">
		<nav>
        <label class="logo"> E-VOTING </label>
			<div class ="menu">
				<a href="/">Home</a>
			</div>
		</nav>

	<div class="txt">
			<div class="para">
				<p>
                   Your Vote has been recorded. Thank you for using E-voting. In order to see live count of the voting click the button below
                    <div style=" font-size: medium;" >
                        See live count
                    </div>
                    <a href="/result">Live Count</a>

                </p>
			</div>
	</div>
</div>
</body>
</html>