<!DOCTYPE html>
<html>
<head>
	<title>E-Voting</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/test2.css">
	<link rel="shortcut icon" type="image/png" href="img/favicon.png">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>

</head>
<body background="img/vote.png">
		<nav>
        <label class="logo"> E-VOTING </label>
			<div class ="menu">
				<a href="/">Home</a>
				<a href="adminlogin">Admin Login</a>
				<a href="aboutus" >About Us</a>
				<a href="contactus">Contact Us</a>
				<a href="/howtovote"> How To Vote? </a>
				<!-- <a href="/count">Result</a> -->
				<!-- <div class="menu" id="result-button-container"></div> -->

			</div>
		<div class="menub">
			
			<a href="login">VOTE</a>
		</div>
	</nav>

	<div class="txt">
			<div class="para">
				<p>
					Welcome to e-Voting! Where casting the votes has been made easy. Start the voting process by verifying if you have been authorized as a voter. 
				</p>
			</div>
			
				<a href="verify">VERIFY</a>
						
			<div class="para">
			<p>
				Every single vote of yours is valuable. So, if you aren't registered as a voter and meet the conditions set by the government to vote, register yourself as a voter below. 
			</p>
			</div>
			
				<a href="register">REGISTER</a>
			
	</div>
</div>
	<script type="text/javascript" src="js/main.js"></script>
	<script>
		fetch('/count')
		  .then(response => response.json())
		  .then(data => {
			if (data.redirect === '/result') {
			  const resultButton = document.createElement('a');
			  resultButton.className = 'result-button';
			  resultButton.href = '/result';
			  resultButton.textContent = 'Result';
			  document.querySelector('.menu').appendChild(resultButton);
			}
		  })
		  .catch(error => {
			console.error('Error fetching result:', error);
		  });
	  </script>
</body>
</html>