<!DOCTYPE html>
<html>
<head>
	<title>E-Voting</title>
	<link rel="shortcut icon" type="image/png" href="img/favicon.png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/test2.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>

</head>
<body background="img/vote.png">
		<nav>
        <label class="logo"> E-VOTING </label>
			<div class ="menu">
				<a href="/">Home</a>
				<a href="aboutus" >About Us</a>
				<a href="contactus">Contact Us</a>
			</div>
		<div class="menub">
			<a href="login">VOTE</a>
		</div>
	</nav>

	<div class="txt">
			<div class="para">
				<p>
                    <div>
                        <img src="img/xmark.png" style="height: 17%; width: 17%; " > 
                    </div>
                    You haven't been verified as an eligible voter. For verification please register your details. 
                </p>
			</div>
				<a href="register">Register</a>
	</div>
</div>
</body>
</html>