<!DOCTYPE html>
<html>
<head>
	<title>E-Voting</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/test2.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>

</head>
<body background="img/vote.png">
		<nav>
        <label class="logo"> E-VOTING </label>
			<div class ="menu">
				<a href="/">Home</a>
				<a href="aboutus" >About Us</a>
				<a href="contactus">Contact Us</a>
			</div>
		<div class="menub">
			<a href="login">VOTE</a>
		</div>
	</nav>

	<div class="txt">
			<div class="para">
				<p>
                    Your NID Details was not found in our governments database. Are you sure you have entered your NID correctly while registering? 
                    Thank You!
                    <div style=" font-size: larger;" >
                        Still having a problem? Connect with us : 
                    </div>
                    <a href="/contactus">contactus</a>

                </p>
			</div>
	</div>
</div>
</body>
</html>