<!DOCTYPE html>
<html>
<head>
	<title>Signup</title>
	<link rel="stylesheet" href="css/signup.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<!-- <li><a href="#">About Us</a></li> -->
			<li><a href="contactus">Contact Us</a></li>
			<li><a href="/">Go back</a></li>
		</ul>
	</nav>
	<div class="container">
		<div class="login-content">
			<form action="register" method="POST" onsubmit="return validateForm()">
				<h2 class="title">Register</h2>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>			 
					<div class="div">
						<h5>First Name</h5>
						<input type="text" name="f_name" id="firstName" class="input" required>
					</div>
				</div>
				<div class="input-div two">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>Middle name</h5>
						<input type="text" name="m_name" id="middleName" class="input">
					</div>
				</div>
                
				<div class="input-div three">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>Last Name</h5>
						<input type="text" name="l_name" id="lastName" class="input" required>
					</div>
				</div>
                <div class="input-div four">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>National identity number</h5>
						<input type="text" name="nid" id="nationalId" class="input" required>
					</div>
				</div>
                <div class="input-div five">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>Email</h5>
						<input type="text" name="email" id="email" class="input" required>
					</div>
				</div>
				<div class="input-div six">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>Phone Number</h5>
						<input type="number" name="phone" id="phoneNumber" class="input" required>
					</div>
				</div>
			
				<input type="submit" class="btn" value="Register">
			</form>
		</div>
	</div>

	<script type="text/javascript" src="js/signup.js"></script>
	<script>
		function validateForm() {
			var firstName = document.getElementById("firstName").value;
			var middleName = document.getElementById("middleName").value;
			var lastName = document.getElementById("lastName").value;
			var nationalId = document.getElementById("nationalId").value;
			var email = document.getElementById("email").value;
			var phoneNumber = document.getElementById("phoneNumber").value;
		var nameRegex = /^[A-Za-z\s]+$/;
		var nationalIdRegex = /^[0-9]{10}$/; 
		var emailRegex = /^\S+@\S+\.\S+$/; 
		var phoneNumberRegex = /^[0-9]{10}$/; 
		if (!firstName.match(nameRegex)) {
			alert("Please enter a valid First Name");
			return false;
		}
		if (middleName !== "" && !middleName.match(nameRegex)) {
			alert("Please enter a valid Middle Name");
			return false;
		}
		if (!lastName.match(nameRegex)) {
			alert("Please enter a valid Last Name");
			return false;
		}
		if (!nationalId.match(nationalIdRegex)) {
			alert("Please enter a valid National ID");
			return false;
		}
		if (!email.match(emailRegex)) {
			alert("Please enter a valid Email");
			return false;
		}
		if (!phoneNumber.match(phoneNumberRegex)) {
			alert("Please enter a valid Phone Number");
			return false;
		}
		alert("Form submitted successfully!");
		return true;
	}
</script>
</body>
</html>