<!DOCTYPE html>
<html>
<head>
	<title>E-Voting</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/test2.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>

</head>
<body background="img/vote.png">
		<nav>
        <label class="logo"> E-VOTING </label>
			<div class ="menu">
				<a href="/">Home</a>
				<a href="aboutus" >About Us</a>
				<a href="contactus">Contact Us</a>
			</div>
		<div class="menub">
			<a href="login">VOTE</a>
		</div>
	</nav>

	<div class="txt">
			<div class="para">
				<p>
                    Your details has been sent for voter registration and verification process. You will be registered as an eligible voter within few hours and your login password details  has already been sent in the  registered email. 
                    Thank You!
                    <div style=" font-size: larger;" >
                        To see if you have already been registered as an eligible voter, click VERIFY.
                    </div>
                    <a href="verify">VERIFY</a>
					<div style=" font-size: larger;" >
                        Open Gmail through here:
                    </div>

					<a href="https://mail.google.com/" target="_blank">Open Gmail</a>

                </p>
			</div>
	</div>
</div>
</body>
</html>