<!DOCTYPE html>
<html>
<head>
	<title>E-Voting</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/test2.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>

</head>
<body background="img/vote.png">
		<nav>
        <label class="logo"> E-VOTING </label>
			<div class ="menu">
				<a href="/">Home</a>
				<a href="aboutus" >About Us</a>
				<a href="contactus">Contact Us</a>
			</div>
		</nav>

	<div class="txt">
			<div class="para">
				<p>
                    Sorry! The link to your voting page has already been expired.
                    <div style=" font-size: larger;" >
                        Thank You!
                    </div>
                    <a href="/login">Login page</a>

                </p>
			</div>
	</div>
</div>
</body>
</html>