<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Voting Page</title>
</head>
<body>
	<h1>Welcome to the voting page!</h1>
	<p>Please select your vote below:</p>
	<form action="/vote/<%= token %>" method="POST">
		<label>
			<input type="radio" name="vote" value="Option 1">
			Option 1
		</label>
		<br>
		<label>
			<input type="radio" name="vote" value="Option 2">
			Option 2
		</label>
		<br>
		<label>
			<input type="radio" name="vote" value="Option 3">
			Option 3
		</label>
		<br>
		<input type="submit" value="Submit Vote">
	</form>
</body>
</html>
