<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Voting Page</title>
</head>
<body>
	<h1>Welcome to the voting page!</h1>
	<p>Please select your vote below:</p>
	<form action="/vote/<%= token %>" method="POST">
		<label>
			<input type="radio" name="vote" value="Option 1">
			Option 1
		</label>
		<br>
		<label>
			<input type="radio" name="vote" value="Option 2">
			Option 2
		</label>
		<br>
		<label>
			<input type="radio" name="vote" value="Option 3">
			Option 3
		</label>
		<br>
		
		<input type="submit" value="Submit Vote">
	</form><h1>Time Remaining:</h1>
    <div id="timer">30 seconds left</div>
	<script>
		// Set the time for the timer in seconds
	 var timeLeft = 30;
		
	 // Create a timer function that counts down from the specified time
	 function startTimer() {
	   // Calculate the number of minutes and seconds left
	   var minutes = Math.floor(timeLeft / 60);
	   var seconds = timeLeft % 60;
	 
	   // Add leading zeros to the minutes and seconds if necessary
	   minutes = (minutes < 10 ? "0" : "") + minutes;
	   seconds = (seconds < 10 ? "0" : "") + seconds;
	 
	   // Update the timer element with the new time left
	   document.getElementById("timer").innerHTML = minutes + ":" + seconds +" " +"seconds left";
	 
	   // If the timer has reached 0, close the page
	   if (timeLeft === 0) {
		 window.close();
	   }
	 
	   // Decrement the time left by 1 second
	   timeLeft--;
	 
	   // Wait 1 second and then call the function again
	   setTimeout(startTimer, 1000);
	 }
	 
	 // Call the startTimer function to begin the countdown
	 startTimer();
	 
		 </script>
</body>
</html>
