<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Voting Page</title>
	<link rel="stylesheet" type="text/css" href="/css/votingpage.css">
</head>
<body>
	<h4>your nid is <%=nid%></h4>
	<section class="candidates">
		<h2>Presidential Candidates</h2>
		<form action="/vote/<%= token %>" method="POST">
		
			<div class="all-candidates">
				<div class="candidate">
					<img src="/img/candidate.jpg">
					<div class="candidate-info">
						<h4 class="candidate-name">Ishan</h4>
						<p class="candidate-party">Republican Party</p>
						<label>
							<input type="radio" name="president" value="Ishan">
							Vote
						</label>
					</div>
				</div>
				<div class="candidate">
					<img src="/img/candidate.jpg">
					<div class="candidate-info">
						<h4 class="candidate-name">Sushant</h4>
						<p class="candidate-party">Democratic Party</p>
						<label>
							<input type="radio" name="president" value="Sushant">
							Vote
						</label>
					</div>
				</div>
				<div class="candidate">
					<img src="/img/candidate.jpg">
					<div class="candidate-info">
						<h4 class="candidate-name">Bigyan</h4>
						<p class="candidate-party">Independent Party</p>
						<label>
							<input type="radio" name="president" value="Bigyan">
							Vote
						</label>
					</div>
				</div>
				<div class="candidate">
					<img src="/img/candidate.jpg">
					<div class="candidate-info">
						<h4 class="candidate-name">Love</h4>
						<p class="candidate-party">Football Party</p>
						<label>
							<input type="radio" name="president" value="Love">
							Vote	
						</label>
					</div>
				</div>
			</div>
			<h2>Vice Presidential Candidates</h2>
			<div class="all-candidates">
				<div class="candidate">
					<img src="/img/candidate.jpg">
					<div class="candidate-info">
						<h4 class="candidate-name">Shreyash</h4>
						<p class="candidate-party">Republican Party</p>
						<label>
							<input type="radio" name="vicepresident" value="Shreyash">
							Vote
						</label>
					</div>
				</div>
				<div class="candidate">
					<img src="/img/candidate.jpg">
					<div class="candidate-info">
						<h4 class="candidate-name">Suyog</h4>
						<p class="candidate-party">Democratic Party</p>
						<label>
							<input type="radio" name="vicepresident" value="Suyog">
							Vote
						</label>
					</div>
				</div>
                <div class="candidate">
					<img src="/img/candidate.jpg">
					<div class="candidate-info">
						<h4 class="candidate-name">mukul</h4>
						<p class="candidate-party">Democratic Party</p>
						<label>
							<input type="radio" name="vicepresident" value="mukul">
							Vote
						</label>
					</div>
				</div><div class="candidate">
					<img src="/img/candidate.jpg">
					<div class="candidate-info">
						<h4 class="candidate-name">bigya</h4>
						<p class="candidate-party">Democratic Party</p>
						<label>
							<input type="radio" name="vicepresident" value="Bigya">
							Vote
						</label>
					</div>
				</div>
            </div>
			<h2>Mayor Candidates</h2>
			<div class="all-candidates">
				<div class="candidate">
					<img src="/img/candidate.jpg">
					<div class="candidate-info">
						<h4 class="candidate-name">Anish Bharati</h4>
						<p class="candidate-party">Republican Party</p>
						<label>
							<input type="radio" name="mayor" value="Anish">
							Vote
						</label>
					</div>
				</div>
				<div class="candidate">
					<img src="/img/candidate.jpg">
					<div class="candidate-info">
						<h4 class="candidate-name">Aayush</h4>
						<p class="candidate-party">Democratic Party</p>
						<label>
							<input type="radio" name="mayor" value="Aayush">
							Vote
						</label>
					</div>
				</div>
                <div class="candidate">
					<img src="/img/candidate.jpg">
					<div class="candidate-info">
						<h4 class="candidate-name">Sabin</h4>
						<p class="candidate-party">Democratic Party</p>
						<label>
							<input type="radio" name="mayor" value="Sabin">
							Vote
						</label>
					</div>
				</div><div class="candidate">
					<img src="/img/candidate.jpg">
					<div class="candidate-info">
						<h4 class="candidate-name">Raghav</h4>
						<p class="candidate-party">Democratic Party</p>
						<label>
							<input type="radio" name="mayor" value="raghav">
							Vote
						</label>
					</div>
				</div>
            </div>
			<h2>Parliament member Candidates</h2>
			<div class="all-candidates">
				<div class="candidate">
					<img src="/img/candidate.jpg">
					<div class="candidate-info">
						<h4 class="candidate-name">Binayak</h4>
						<p class="candidate-party">Republican Party</p>
						<label>
							<input type="radio" name="member" value="Binayak">
							Vote
						</label>
					</div>
				</div>
				<div class="candidate">
					<img src="/img/candidate.jpg">
					<div class="candidate-info">
						<h4 class="candidate-name">kush</h4>
						<p class="candidate-party">Democratic Party</p>
						<label>
							<input type="radio" name="member" value="Kush">
							Vote
						</label>
					</div>
				</div>
                <div class="candidate">
					<img src="/img/candidate.jpg">
					<div class="candidate-info">
						<h4 class="candidate-name">Abhash</h4>
						<p class="candidate-party">Democratic Party</p>
						<label>
							<input type="radio" name="member" value="Abhash">
							Vote
						</label>
					</div>
				</div><div class="candidate">
					<img src="/img/candidate.jpg">
					<div class="candidate-info">
						<h4 class="candidate-name">raaj</h4>
						<p class="candidate-party">Democratic Party</p>
						<label>
							<input type="radio" name="member" value="Raaj">
							Vote
						</label>
					</div>
				</div>
            </div>
			<label><input type="hidden" name="nid" value="<%= nid %>"></label>
			<button type="submit">Submit Vote</button>
		</form>
	</section>
	<h1>Time Remaining:--> </h1>

    <div id="timer">30 seconds left</div> 
	<script>
		// Set the time for the timer in seconds
	 var timeLeft = 300;
		
	 // Create a timer function that counts down from the specified time
	 function startTimer() {
	   // Calculate the number of minutes and seconds left
	   var minutes = Math.floor(timeLeft / 60);
	   var seconds = timeLeft % 60;
	 
	   // Add leading zeros to the minutes and seconds if necessary
	   minutes = (minutes < 10 ? "0" : "") + minutes;
	   seconds = (seconds < 10 ? "0" : "") + seconds;
	 
	   // Update the timer element with the new time left
	   document.getElementById("timer").innerHTML = minutes + ":" + seconds +" " +"seconds left";
	 
	   // If the timer has reached 0, close the page
	   if (timeLeft === 0) {
		 window.close();
	   }
	 
	   // Decrement the time left by 1 second
	   timeLeft--;
	 
	   // Wait 1 second and then call the function again
	   setTimeout(startTimer, 1000);
	 }
	 
	 // Call the startTimer function to begin the countdown
	 startTimer();
	 
		 </script>
</body>
</html>
